<div class="text-center m-5">
  <h1 class="h3 mb-3 font-weight-normal">{{ 'homepage.title' | translate }}</h1>
  <p>{{ 'homepage.description' | translate }}</p>
</div>
<div class="container">
    <app-search-form (searchResultList)="handleSearchData($event)" ></app-search-form>
</div>

<div class="container ">
  <div class="row">
    <div class="col-sm " *ngFor="let item of items">
     <div class="card mb-5 mt-5">
       <div class="content">
         <h2 class="title">
           {{item.volumeInfo.title |slice : 0: 17}}
         </h2>
         <p class="copy">test</p>
         <button class="btn">View Trips</button>
       </div>
     </div>
    </div>



  </div>
</div>
